<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Form</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


</head>

<body>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <p style="color: white" class="text-sm-left  font-weight-bold  " th:text="${user.getEmail()}"></p>
    <p style="color: white" class="text-sm-left  font-weight-bold  " th:text="${titleRole}"></p>
    <p><a class="btn btn-md btn-danger" th:href="@{/logout}" role="button">Logout</a></p>
</nav>
<div class="container">
    <div class="container">
        <h4 style="color: green" class="text-center display-4 font-weight-bold pt-8 ">User page</h4>
    </div>
        <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th th:text="${user.id}"></th>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${titleRole}"></td>

            </tr>

            </tbody>
        </table>

    </div>
</div>

</body>
</html>


